*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: rgb(26, 25, 50);
}

nav img{
    height: 60px;
    padding: 0 15% 0 15%;
}

ul{
    display: flex;
    color: rgba(255, 255, 255, 0.398);
    gap: 50px;
    padding-left: 10%;
    align-items: center;
}

li{
    list-style: none;
}

.unico{
    background: linear-gradient(to right, rgb(72, 19, 151), rgb(43, 94, 175));
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: white;
    border: 0;
}

.uno{
    display: flex;
}

.izquierda{
    background-color: rgb(41, 39, 86);
    color: white;
}

.izquierda h2{
    font-size: 80px;
    padding: 170px 230px 0 170px;
}

.izquierda p{
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 20px;

}

.derecha{
    background-image: url(../assets/img/hojasFondo.jpg);
    width: 56%;
}

.derecha img{
    padding-left: 30%;
    padding-top: 20%;
    height: 60%;
}

.botonpeque{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 30%;
    padding: 10px 0 0 0;
    border: solid rgba(255, 255, 255, 0.415);
    border-radius: 5px;

}

.a{
    background-color: white;
    color: rgb(255, 0, 212);
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.b{
    background-color: rgb(24, 24, 98);
    border: solid 2px white;
    color: white;
    height: 30px;
    width: 90px;
    padding: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.dos{
    text-align: center;
}

.dos h2{
    color: rgb(255, 0, 234);
    font-size: 70px;
    padding: 70px;
}

.dosmini{
    display: flex;
    gap: 80px;
}

.dosmini img{
    width: 35%;
    padding-left: 15%;
}

.pocodeletras h3{
    color: blueviolet;
    font-size: 50px;
    padding-bottom: 60px;
}

.pocodeletras p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.pocodeletras h4{
    color: rgb(255, 0, 251);
    font-size: 30px;
    text-align: left;
}

.pocodeletras li{
    text-align: left;
}

.tres{
    background-color: rgb(26, 25, 50);
    margin-top: 60px;
}

.tres h1{
    color: white;
    text-align: center;
    font-size: 70px;
    padding-top: 15px;
}

.unicoo{
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 24px;
}

.cajas{
    display: flex;
    justify-content: center;
    
}

.box{
    background-color: white;
    margin: 30px;
    text-align: center;
    border-radius: 5px; 
}

.box img{
    padding-top: 20px;
}

.lite{
    color: rgb(255, 0, 251);
}

.azul{
    color: rgb(13, 13, 72);
}

.price{
    padding: 30px;
}

.currency{
    font-size: 35px;
}

.amount{
    font-size: 35px;
}

.unamas{
    padding-bottom: 40px;
}

.parrafo{
    padding: 0 30px 20px 30px;
}

button{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom:10px;
    background-color: rgb(33, 33, 85);
    border: none;
    border-radius: 5px;
}

.rosa{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom:10px;
    background-color: rgb(255, 0, 217);
    border: none;
    border-radius: 5px;
}

footer{
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 55%;
}

footer p{
    padding-left: 20%;
}

.redes img{
    gap: 20px;
}

@media (min-width: 920px) and (max-width: 1279px){
    nav img{
        padding: 0 10% 0 10%;
    }

    .izquierda h2{
        padding: 80px 130px 0 100px;
    }

    .botonpeque{
        margin: 0 25%;
        padding: 10px 0 0 0;
    }

    .dosmini{
        gap: 50px;
    }

    .dosmini img{
        padding-left: 10%;
    }

    .unicoo{
        font-size: 20px;
    }

    footer{
        gap: 40%;
    }

    footer p{
    padding-left: 15%;
}
}
