*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: rgb(26, 25, 50);
}

nav img{
    height: 60px;
    padding: 0 15% 0 15%;
}

ul{
    display: flex;
    color: rgba(255, 255, 255, 0.398);
    gap: 50px;
    padding-left: 10%;
    align-items: center;
}

li{
    list-style: none;
}

.unico{
    background: linear-gradient(to right, rgb(72, 19, 151), rgb(43, 94, 175));
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: white;
    border: 0;
}

.uno{
    display: flex;
}

.izquierda{
    background-color: rgb(41, 39, 86);
    color: white;
}

.izquierda h2{
    font-size: 80px;
    padding: 170px 230px 0 170px;
}

.izquierda p{
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 20px;

}

.derecha{
    background-image: url(../assets/img/hojasFondo.jpg);
    width: 56%;
}

.derecha img{
    padding-left: 20%;
    padding-top: 20%;
    height: 60%;
}

.botonpeque{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 30%;
    padding: 10px 0 0 0;
    border: solid rgba(255, 255, 255, 0.415);
    border-radius: 5px;

}

.a{
    background-color: white;
    color: rgb(255, 0, 212);
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.b{
    background-color: rgb(24, 24, 98);
    border: solid 2px white;
    color: white;
    height: 30px;
    width: 90px;
    padding: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.dos{
    text-align: center;
}

.dos h2{
    color: rgb(255, 0, 234);
    font-size: 70px;
    padding: 70px;
}

.dosmini{
    display: flex;
    gap: 80px;
}

.dosmini img{
    width: 35%;
    padding-left: 15%;
}

.pocodeletras h3{
    color: blueviolet;
    font-size: 50px;
    padding-bottom: 60px;
}

.pocodeletras p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.pocodeletras h4{
    color: rgb(255, 0, 251);
    font-size: 30px;
    text-align: left;
}

.pocodeletras li{
    text-align: left;
}

.tres{
    background-color: rgb(26, 25, 50);
    margin-top: 60px;
}

.tres h1{
    color: white;
    text-align: center;
    font-size: 70px;
    padding-top: 15px;
}

.unicoo{
    color: white;
    padding-top: 40px;
    text-align: center;
    font-size: 24px;
}

.cajas{
    display: flex;
    justify-content: center;
    
}

.box{
    background-color: white;
    margin: 30px;
    text-align: center;
    border-radius: 5px; 
}

.box img{
    padding-top: 20px;
}

.lite{
    color: rgb(255, 0, 251);
}

.azul{
    color: rgb(13, 13, 72);
}

.price{
    padding: 30px;
}

.currency{
    font-size: 35px;
}

.amount{
    font-size: 35px;
}

.unamas{
    padding-bottom: 40px;
}

.parrafo{
    padding: 0 30px 20px 30px;
}

button{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom:10px;
    background-color: rgb(33, 33, 85);
    border: none;
    border-radius: 5px;
}

.rosa{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom:10px;
    background-color: rgb(255, 0, 217);
    border: none;
    border-radius: 5px;
}

footer{
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 55%;
}

footer p{
    padding-left: 20%;
}

.redes img{
    gap: 20px;
}

@media (min-width: 921px) and (max-width: 1279px){
    nav img{
        padding: 0 10% 0 10%;
    }

    .izquierda h2{
        padding: 80px 130px 0 100px;
    }

    .botonpeque{
        margin: 0 25%;
        padding: 10px 0 0 0;
    }

    .dosmini{
        gap: 50px;
    }

    .dosmini img{
        padding-left: 10%;
    }

    .unicoo{
        font-size: 20px;
    }

    footer{
        gap: 40%;
    }

    footer p{
    padding-left: 15%;
}
}

@media (min-width: 769px) and (max-width: 920px){
    nav img{
        padding: 0 5% 0 5%;
    }

    ul{
        gap: 30px;
    }

    .izquierda h2{
        font-size: 70px;
        padding: 80px 100px 0 60px;
    }

    .derecha img{
        padding-left: 20%;
        padding-bottom: 50px;
        width: 60%;
        height: auto;

    }

    .derecha{
        width: 50%;
    }

    .botonpeque{
        margin: 0 20%;
    }

    .dosmini img{
        padding-top: 40px;
        height: 60%;
        padding-left: 8%;
    }

    .pocodeletras h3{
        font-size: 40px;
    }

    .pocodeletras p{
        font-size: 17px;
    }

    .pocodeletras h4{
        font-size: 20px;
    }

    .tres h1{
        font-size: 50px;
    }

    .unicoo{
        padding: 25px 0;
        font-size: 18px;
    }

    .box{
        margin: 20px;
    }

    .price{
        padding: 20px;
    }

    .currency{
        font-size: 25px;
    }

    .amount{
        font-size: 25px;
    }

    .unamas{
        padding-bottom: 30px;
    }

    .parrafo{
        padding: 0 20px 10px 20px;
    }

    footer{
        padding: 20px;
        gap: 45%;
    }

    footer p{
        padding-left: 10%;
    }

    .redes img{
        gap: 30px;
    }
    
}

@media (min-width: 481px) and (max-width: 768px){
    nav{
        flex-direction: column;
    }

    nav img{
        height: 50px;
        width: 120px;
        padding-left: 40%;
    } 
    
    ul{
        gap: 32px;
        padding-left: 8%;
    }

    .uno{
        flex-direction: column;
    }

    .izquierda h2{
        font-size: 50px;
        padding-top: 50px;
        text-align: center;
    }

    .botonpeque{
        margin: 0 20%;
        margin-bottom: 20px;
        padding: 10px 0 0 0;
    }

    .derecha{
        width: 100%;
    }

    .derecha img{
        padding-left: 30%;
        padding-bottom: 50px;
        width: 40%;
        height: 20%;
    }

    .dos h2{
        font-size: 50px;
        padding: 50px;
    }

    .dosmini{
        display: flex;
        flex-direction: column;
    }

    .dosmini img{
        width: 45%;
        padding-left: 28%;
    }

    .pocodeletras h3{
        font-size: 30px;
        padding: 30px;
    }

    .pocodeletras p{
        font-size: 15px;
        text-align:center;
        padding-bottom: 15px;
    }

    .pocodeletras h4{
        font-size: 30px;
        text-align: center;
    }

    .pocodeletras li{
        text-align: center;
    }

    .tres h1{
        text-align: center;
        font-size: 40px;
    }

    .unicoo{
        padding-top: 40px;
        text-align: center;
        font-size: 15px;
    }   

    .cajas{
        display: flex;
        flex-direction: column;
    }

    .box{
        margin: 30px 90px;
        text-align: center;
        border-radius: 5px; 

    }

    footer{
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 15%;
    }

    footer p{
        padding-left: 20%;
    }

    .redes img{
        gap: 10px;
    }

}

@media (min-width: 352px) and (max-width: 480px){
    nav{
        display: flex;
        flex-direction: column;
    }  

    nav img{
        height: 50px;
        padding: 0 30%;
        margin-left: 25px;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 5%;
        padding-left: 5%;

    }

    .uno{
        display: flex;
        flex-direction: column;
    }

    .izquierda h2{
        font-size: 40px;
        padding: 50px 30px 0 125px;
    }

    .botonpeque{
        margin: 0 15%;
        margin-bottom: 20px;
        padding: 10px 0 0 0;
    }

    .derecha{
        width: 100%;
    }

    .derecha img{
        padding-left: 6%;
        padding-top: 10%;
        height: 20%;
    }

    .dos h2{
        font-size: 30px;
        padding: 50px;
    }

    .dosmini{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .dosmini img{
        width: 50%;
        padding-left: 90px;
    }

    .pocodeletras h3{
        font-size: 50px;
        padding-bottom: 40px;
    }

    .pocodeletras p{
        font-size: 10;
        text-align: center;
        padding-bottom: 20px;
    }

    .pocodeletras h4{
        font-size: 20px;
        text-align: center;
    }

    .pocodeletras li{
        text-align: center;
        padding: 3px;
    }

    .tres h1{
        font-size: 40px;
        padding-top: 15px;
    }

    .unicoo{
        font-size: 15px;
        padding: 10px 5px;
    }

    .cajas{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20%;
    }

    footer p{
        padding-left: 8%;

    }
}